body{   font-size: 16px;
    }

.principal{background-color: gray;
    text-align: center}

.negrito{color: red;
}

.beneficios{text-align: center;}

.imagem-beneficio{width: 100%;}

.imagem{width: 100%;}

.titulo{padding: 20px;}
